<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src=”https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js”></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="container">
    <div class="form-wrapper">
        <h2 class="title">Survey for values</h2>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">Kinder-Values</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('values_quiz') }}">Home</a>
                        <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ url_for('video') }}">Video</a>
                    </div>
                    </div>
                </div>
                </nav>
                </header>
            </div>
        </div>
        </div>
    </body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class= "chart" id="barchart">
        <script type="text/javascript">
        var fig = {{ plot | safe}};
        Plotly.plot('barchart', fig.data, fig.layout, {displaylogo: false});
        </script>
    </div>
    <article class="results">
    <h1>Dynamic values results</h1>
    <article class="dyn-values">
        <h2>Openness to Change</h2>
        <p>Relations among these 10 broad personal values are dynamic. Actions pursuing one value "have"
        consequences that conflict with some values but are congrugent with others. For openness to change, it is 
        determined by the basic values self-direction, stimulation and hedonism. If you have answered highly for these
        3 values, this shows your emphasis on independence of thought, action and feelings and readiness for change.
        </p>
    </article>
    <article class="dyn-values">
        <h2>Conservation</h2>
        <p>Conservation values are constrast to values of the former. Conservation is determined by the basic values conformity,
        tradition and security. This dimension emphasis order, self-restriction for stability and preservation of the past, 
        and resistance to change.
        </p>
    </article>
    <article class="dyn-values">
        <h2>Self-Transcendence</h2>
        <p>Self-Transcendence values consist of universalism and benevolence, showing a strong emphasis on concern for the welfare
           and interests of others. Which is a polar opposite of the next dimension below, self-enhancement.
        </p>
    </article>
    <article class="dyn-values">
        <h2>Self-Enhancement</h2>
        <p>Self-Enhancement values are in direct conflict with self-transendence values. With a stronger emphasis on the pursuit of
           one's own interests and relative success and dominance over others. It is defined by the basic values of power and achievement.
        </p>
    </article>
</article>
</html>